body {
  font-family: "Open Sans";
  text-align: center;
  background: #4b79a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #283e51,
    #0a2342
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #283e51,
    #0a2342
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -olinear-gradient(to top, #283e51, #0a2342);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#content {
  position: relative;
  z-index: 10;
  flex-direction: column;
  display: flex;
}
h1 {
  font-family: "Mountains of Christmas";
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 10px;
}
h2 {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 900;
}
#table {
  display: inline-flex;

  flex-direction: column;
  width: auto;
  margin: 0 auto;
  align-items: center;
  border-top: 1px solid;
  border-right: 1px solid;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  font-family: "Open Sans";
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #485e71;
  /*box-sizing: border-box; */
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}
.cell.cell-empty {
  background: #283e51;
}
input {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  outline: none;
  font-size: 10px;
}
button {
  border: 1px solid #fff;
  outline: none;
  padding: 5px;
  max-width: 300px;
  font-size: 30px;
  width: 100%;
  margin: 20px auto;
  font-family: "Mountains of Christmas";
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
